{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
   <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}

                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.total_shares }}</td>
                    <td class="text-end">{{ row.price }}</td>
                    <td class="text-end">{{ row.total }}</td>
                </tr>

            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 text-end fw-bold" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ cash }}</td>
            </tr>
            <tr>
                <td class="border-0 text-end fw-bold" colspan="4">TOTAL</td>
                <td class="border-0 text-end">{{ total }}</td>
            </tr>
        </tfoot>
   </table>
{% endblock %}